bin/Debug/CarWash_Application.exe
bin/Debug/CarWash_Application.exe.config
bin/Debug/CarWash_Application.pdb
obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/BuhgalteriaWindow.g.i.cs
obj/Debug/CarWash_Application.csproj.CoreCompileInputs.cache
obj/Debug/CarWash_Application.csproj.FileListAbsolute.txt
obj/Debug/CarWash_Application.csproj.GenerateResource.cache
obj/Debug/CarWash_Application.csprojAssemblyReference.cache
obj/Debug/CarWash_Application.exe
obj/Debug/CarWash_Application.g.resources
obj/Debug/CarWash_Application.pdb
obj/Debug/CarWash_Application.Properties.Resources.resources
obj/Debug/CarWash_Application_Content.g.i.cs
obj/Debug/CarWash_Application_MarkupCompile.cache
obj/Debug/CarWash_Application_MarkupCompile.i.cache
obj/Debug/CarWash_Application_MarkupCompile.i.lref
obj/Debug/CarWash_Application_MarkupCompile.lref
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MainWindow.baml
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/RegistrationWindow.g.i.cs
obj/Debug/CarWash_Application_MarkupCompile.i.lref
obj/Debug/RegistrationWindow.g.i.cs
obj/Debug/CarWash_Application_MarkupCompile.i.lref
obj/Debug/RegistrationWindow.g.i.cs
.vs/CarWash_Application/v16/Server/sqlite3/db.lock
.vs/CarWash_Application/v16/Server/sqlite3/storage.ide
.vs/CarWash_Application/v16/Server/sqlite3/storage.ide-shm
.vs/CarWash_Application/v16/Server/sqlite3/storage.ide-wal